In [ ]:
for i in range(9,51):
   if i%2==0 and i%4==0:
      print(i)

12
16
20
24
28
32
36
40
44
48

In [ ]:
l1 = [10,20,30,45]
l2 = [30,45,50,60]
l3 = []
for item in l2:
  if item not in l1:
    l3.append(item)
for item in l1:
  if item not in l2:
    l3.append(item)

l3

[50, 60, 10, 20]

In [ ]:
#what is the type- (type{})is set
type({' '})

set

In [ ]:
person = {"name": "Jessa", "country": "USA", "telephone": 1178}
print('key', ':', 'value')
for key in person:
    print(key, ':', person[key])

key : value
name : Jessa
country : USA
telephone : 1178

In [ ]:
print('key', ':', 'value')
for key in person:
    print(key, ':', person[key])

key : value
name : Jessa
country : USA
telephone : 1178

In [ ]:
print('key', ':', 'value')
for key_value in person.items():
    # first is key, and second is value
    print(key_value[0], key_value[1])

key : value
name Jessa
country USA
telephone 1178

In [ ]:
person["weight"] = 50
person.update({"height": 6, "BMI":25})
person

{'name': 'Jessa',
 'country': 'USA',
 'telephone': 1178,
 'weight': 50,
 'height': 6,
 'BMI': 25}

In [ ]:
d = {1:100,2:200,3:"java"}
d1=d.copy()
d

{1: 100, 2: 200, 3: 'java'}

In [ ]:
d2=dict.fromkeys(d1.keys())
d2

{1: None, 2: None, 3: None}

In [ ]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'d': 40, 'e': 50, 'f': 60}
d1.get('a')

10

In [ ]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [ ]:
d1.values()

dict_values([10, 20, 30])

In [ ]:
d1.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [ ]:
len(d1)

3

In [ ]:
d1['d']=40

In [ ]:
d1

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
d1.update({'e':50,'f':60})

In [ ]:
d1

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [ ]:
d1.setdefault('g', 70)

70

In [ ]:
d1['b']=100

In [ ]:
d1

{'a': 10, 'b': 100, 'c': 30, 'd': 40, 'e': 50, 'f': 60, 'g': 70}

In [ ]:
d1.pop('b')

100

In [ ]:
d1.popitem()

('g', 70)

In [ ]:
d1.popitem()

('f', 60)

In [ ]:
d1.clear()

In [ ]:
d1

{}

In [ ]:
d1.update(d2)

In [ ]:
d1

{'d': 40, 'e': 50, 'f': 60}

In [ ]:
d3 = {**d1, **d2}

In [ ]:
d3

{'d': 40, 'e': 50, 'f': 60}

In [ ]:
max(d1)

'f'

In [ ]:
min(d1)

'd'

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict(zip(keys,values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
d=dict()
for i in range(len(keys)):
  d.update({keys[i]:values[i]})
d

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
d3 = {**dict1, **dict2}
d3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
d3=dict1.update(dict2)
print(d3)

None

In [ ]:

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
d=dict()
for i in range(len(employees)):
  d.update({employees[i]:defaults})
d

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
{}.fromkeys(employees,defaults)

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

keys = ['name','salary']
d=dict()
for k in keys:
  if k in sample_dict:
     d.update({k:sample_dict[k]})
print(d)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}


keys = ["name", "salary"]
for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if sample_dict.get('b'):
  print('200 present in dictionary')
else:
    pass

200 present in dictionary

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict['location'] =sample_dict.pop('city')


sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sample_dict)

'Math'

In [ ]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']= 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
dict1 = {"key1":1, "key2":2}
dict2 = {"key2":2, "key1":1}
print(dict1 == dict2)

True

In [ ]:
sampleDict = dict([
    ('first', 1),
    ('second', 2),
    ('third', 3)
])
print(sampleDict)

{'first': 1, 'second': 2, 'third': 3}

In [ ]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.get("age")
print(temp)

None

#sets exercises PYnative

In [ ]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Green', 'Red', 'Orange', 'Yellow', 'Blue', 'Black'}

In [ ]:
#get common elements
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.intersection(set2)
print(set3)

{40, 50, 30}

In [ ]:
#return a new set with unique items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}
set1.difference_update(set2)
set1

{10, 30}

In [ ]:
#remove items 10,20,30
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
set1

{40, 50}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
if set1.isdisjoint(set2):
  print('no common element')
else:
  print('common elements')
  print(set1.intersection(set2))

common elements
{10}

In [ ]:
#Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
set1

{10, 20, 60, 70}

In [ ]:
#Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
set1

{30, 40, 50}

In [ ]:
aSet = {1, 'PYnative', ['abc', 'xyz'], True}
print(aSet)

TypeError: unhashable type: 'list'

In [ ]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)

{1, ('abc', 'xyz'), 'PYnative'}

List exrcise

In [ ]:
#reverse a string
list1 = [100, 200, 300, 400, 500]
list1[::-1]

[500, 400, 300, 200, 100]

In [ ]:
#Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i +j for i ,j in zip(list1,list2)]
list3

['My', 'name', 'is', 'Kelly']

In [ ]:
#Turn every item of a list into its square
numbers = [1, 2, 3, 4, 5, 6, 7]
[num**2 for num in numbers]

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
l=[]
for i in numbers:
 l.append(i*i)
print(l)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
l3 =[x + y for x in list1 for y in list2]
print(l3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
#Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in list1:
  print(i)
for j in list2:
  print(list2[::-1])

10
20
30
40
[400, 300, 200, 100]
[400, 300, 200, 100]
[400, 300, 200, 100]
[400, 300, 200, 100]

In [ ]:
for x,y in zip(list1,list2[::-1]):
  print(x,y)

10 400
20 300
30 200
40 100

In [ ]:
#Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

l2=list(filter(None,list1))
l2

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
#Write a program to add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

In [ ]:
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
#Replace list’s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]
index=list1.index(20)
list1[index]=200
list1

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
#Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
  list1.remove(20)
print(list1)

[5, 15, 25, 50]

In [ ]:
l = [None] * 10
print(len(l))

10

In [ ]:
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

[]

In [ ]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [ ]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 2aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])
print(aList[1][3])8]
print(aList)

[4, 20, 24, 28]

In [ ]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])
print(aList[1][3])

Y
16

In [ ]:
number = input("Enter roll number ")
name = input("Enter age ")

print("\n")
print('Roll number:', number, 'Name:', name)
print("Printing type of a input values")
print("type of number", type(number))
print("type of name", type(name))

Enter roll number 23
Enter age 29


Roll number: 23 Name: 29
Printing type of a input values
type of number <class 'str'>
type of name <class 'str'>

In [ ]:
num = 3
if num >5:
  print(num*2)

In [ ]:
def user_check(choice):
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")
user_check(3)

Guest

In [ ]:
num1 = int(input('enter first number: '))
num2 = int(input('enter second number: '))
if num1 >= num2:
  if(num1 == num2):
    print(num1, 'and' ,num2 ,'are equal')
  else:
    print(num1 ,'is greater than',num2)
else:
  print(num2,'is greater')

enter first number: 80
enter second number: 20
80 is greater than 20

In [ ]:
num=100
sum=0
i = 1
while i <+num:
  sum = sum +i
  i = i + 1
print('sum of first 100 numbers is : ',sum)

sum of first 100 numbers is :  4950

In [ ]:
for num in range (2,30):
  if num > 15:
    print('stop process')
    break
  else:
    print(num)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
stop process

In [ ]:
# Print first 10 natural numbers using while loop
num = 10
i = 1
while i <=num:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
row = 5
for i in range(1,6):
  for j in range(1,i+1):
      print(j,end =" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
num = int(input("Enter the number : "))
sum = 0
for i in range(1 ,num+1):
  sum = sum + i
print('sum is : ',sum)

Enter the number : 10
sum is :  55

In [ ]:
num = 2
for i in range(1,11,1):
  p = num*i
  print(p)

2
4
6
8
10
12
14
16
18
20

In [ ]:
import math
math.pi

3.141592653589793

In [ ]:
math.factorial(4)

24

In [ ]:
from math import *

In [ ]:
sqrt(25)

5.0

In [ ]:
e

2.718281828459045

In [ ]:
pi

3.141592653589793

In [ ]:
#member importing
from math import sqrt,sin
sqrt(45)

6.708203932499369

In [ ]:
sin(30)

-0.9880316240928618

In [ ]:
from math import factorial as f,sqrt as s
f(25)

15511210043330985984000000

In [ ]:
s(25)

5.0

In [ ]:
from bank import bank_name
print(bank_name)

 SBI

In [ ]:
from bank import branch
print(branch)

pune

In [ ]:
from bank import IFSC
print(IFSC)

SBI1234

In [ ]:
from bank import (bank_name,branch,IFSC)
print(bank_name,branch,IFSC)

 SBI pune SBI1234

In [ ]:
from bank import info
print(info(bank_name,branch,IFSC))

TypeError: info() takes 2 positional arguments but 3 were given

In [ ]:
num = 10
i = 1
while i <= 10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
row = 5
i=1
for i in range(1,row+1,1):
  for j in range(1,i+1):
    print(j,end =" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
num = int(input('Enter number:' ))
sum=0
for i in range(1,num+1):
   sum = sum +i
print('sum is:',sum)

Enter number:11
sum is: 66

In [ ]:
n = int(input("enter number : "))
sum = 0
for i in range(1,n+1):
  sum = sum + i
print("sum of first", n ,"number is :",sum)
avg = sum / n
print("average of", n ,"number is :",avg)

enter number : 10
sum of first 10 number is : 55
average of 10 number is : 5.5

In [ ]:
n = 20
total = n
sum = 0
while n >=0:
  sum = sum+n
  n = n-1
print("sum is :",sum)
avg = sum / total
print("avg is :",avg)

sum is : 210
avg is : 10.5

In [ ]:
#multiplication table of given no
n = int(input("enter a number:"))
for i in range(1,11):
  product = i*n
  print(product)

enter a number:12
12
24
36
48
60
72
84
96
108
120

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i>500:
      break
    elif i>150:
      continue
    elif i%5==0:
      print(i)

75
150
145

In [ ]:
n = int(input('Enter the number: '))
counter = 0
while n !=0:
   n = n//10
   counter +=1
print(counter)

Enter the number: 756148
6

In [ ]:
from bank import debit

ModuleNotFoundError: No module named 'bank'

In [ ]:
from bank import credit

SyntaxError: invalid syntax (credit.py, line 1)

In [ ]:
from bank.debit import

SyntaxError: invalid syntax (<ipython-input-10-ffb16c8a64c1>, line 1)