In [ ]:
#1.Write a Python function to sum all the numbers in a list

In [ ]:
#(8, 2, 3, 0, 7)

In [12]:
def sum(nums):
  total = 0
  for i in nums:
    total += i
  return(total)
print(sum((8,2,3,0,7)))

20

In [3]:
#2.Write a Python function that accepts a string and counts the number of upper and lower case letters.
#Sample String : 'The quick Brow Fox'

In [17]:
def count(s):
  a = {'UPPER_CASE':0 , 'LOWER_CASE':0}
  for i in s:
    if i.isupper():
     a["UPPER_CASE"] +=1
    elif i.islower:
      a["LOWER_CASE"] +=1
  print("Original string:",s)
  print("No. of uppercase characters:",a["UPPER_CASE"])
  print("No. of lowercase characters:",a["LOWER_CASE"])
count('The quick Brow Fox')

Original string: The quick Brow Fox
No. of uppercase characters: 3
No. of lowercase characters: 15

In [ ]:
"""3.Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.
Sample Items : green-red-yellow-black-white
Expected Result : black-green-red-white-yellow
"""

In [22]:
def sequence(s):
  for i in s:
    words= s.split('-')
    words.sort()
  print(" ".join(words))
sequence('green-red-yellow-black-white')

black green red white yellow

In [26]:
 #4.Write a Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included).

def value():
  l =[]
  for i in range(1,31):
    l.append(i**2)
  print(l)
print(value())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
None

In [27]:
 #5.Write a Python function to check whether a number falls within a given range

def test(n):
  if n in range(1,21):
    print("%s is in the range" % str(n))
  else:
    print("The number is out of the given range.")
print(test(5))

5 is in the range
None