In [ ]:
#If else problem
#1.WAP to find max between two numbers
n1 = int(input("enter 1st no. :"))
n2 =int(input("enter 2nd no. :"))
if n1>n2:
  print ("n1 is max no.")
else:
  print('n2 is max no.')

enter 1st no. :10
enter 2nd no. :20
n2 is max no.

In [ ]:
n1 = int(input("enter 1st no. :"))
n2 =int(input("enter 2nd no. :"))
n3 =int(input("enter 3rd no. :"))

max(n1,n2,n3)

enter 1st no. :10
enter 2nd no. :20
enter 3rd no. :30

30

In [ ]:
#2.WAP to find maximum among three no.s
n1 = int(input("enter first no. :"))
n2 =int(input("enter second no. :"))
n3 =int(input("enter third no. :"))
if (n1>n2)and (n1>n3):
  print('n1 is max no.')
elif (n2>n1) and (n2>n3):
    print('n2 is max no.')
elif (n1==n2==n3):
  print('all no.s are same')
else:
  print('n3 is max no.')

enter first no. :10
enter second no. :10
enter third no. :10
all no.s are same

In [ ]:
#WAP to check whether number is positive,negative or zero
n1 = int(input("enter the no. :"))

if n1>0:
  print('n1 is positive no.')
elif n1<0:
    print('n1 is negative no.')
else:
  print("zero")

enter the no. :-5
n1 is negative no.

In [ ]:
#4.WAP to check whether no. is divisible by 5 and 11
n = float(input('enter the no.'))
if n%5 ==0 and n%11 == 0:
 print("divisible by 5 and 11")
else:
       print('not divisible by 5 and 11')

enter the no.110
divisible by 5 and 11

In [ ]:
#5.WAP to check whwther no. is even or odd
n = int(input("enter the number :"))
if n%2 == 0:
  print("even")
else:
  print('odd')

enter the number :15
odd

In [ ]:
#6.WAP to check whether the year is leap year or not
y = int(input("enter the year :"))
if y%4 == 0:
  if y%100 == 0:
    if y%400 == 0:
      print("leap year")
    else:
      print('not a leap year')
  else:
     print("leap year")
else:
  print("not a leap year")

enter the year :1800
not a leap year

In [ ]:
a = int(input('Enter year:'))
if a % 4 == 0 and a % 100 !=0:
  print('Leap year')
elif (a%400 ==0 and a % 100 == 0):
    print('Leap year')
else:
   print('Not Leap year')

Enter year:2023
Not Leap year

In [ ]:
#7.WAP to check whether a character is alphabet or not
n = input("enter the character :")
if n.isalpha():
  print("is alphabet")
else:
  print("not alphabet")

enter the character :$
not alphabet

In [ ]:
#8.WAP to input any alphabet and check whether it is vowel or consonent
n = (input("enter the character :")).lower()
if (n == 'a' or n == 'e' or
        n == 'i' or n == 'o' or n == 'u'):
        print("Vowel")
else:
        print("Consonant")

enter the character :E
Vowel

In [ ]:

n == "a" or "e" or "i" or "o" or "u"

In [ ]:
#WAP to check whether a character is uppercase or lowercase alphabet
n = input('enter a characer :')
if n.isupper():
  print("uppercase")
elif n.islower():
  print("lowercase")
else:
  print('not alphabet')

enter a characer :A
uppercase

In [ ]:
#WAP to count the total number of notes in given amount
#Program to Count Total Number of Notes in Given Amount using Loop
notes = (2000,500,200,100,50,20,10,5,2,1)
amt = int(input("Enter Your Amount : "))
#Enter 2888 in ammount for count all notes minimum 1 time

for n in notes:
    counts = amt//n
    print("use",counts,"notes of\t",n,"₹")
    amt = amt%n

Enter Your Amount : 2888
use 1 notes of	 2000 ₹
use 1 notes of	 500 ₹
use 1 notes of	 200 ₹
use 1 notes of	 100 ₹
use 1 notes of	 50 ₹
use 1 notes of	 20 ₹
use 1 notes of	 10 ₹
use 1 notes of	 5 ₹
use 1 notes of	 2 ₹
use 1 notes of	 1 ₹

In [ ]:
#WAp to input an angle of triangle and check whether triangle is valid or not
n1 = int(input("enter the first angle of triangle:"))
n2 = int(input("enter the second angle of triangle:"))
n3 = int(input("enter the third angle of triangle:"))
if (n1+n2+n3) == 180 and (n1,n2,n3)!=0 and (n1,n2,n3)!=180:
  print("triangle is valid")
else:
  print("invalid triangle")

enter the first angle of triangle:90
enter the second angle of triangle:45
enter the third angle of triangle:45
triangle is valid

In [ ]:
#WAP to check the triangle is equillateral, isosceles,scalen
n1 = int(input("enter the first side of triangle:"))
n2 = int(input("enter the second side of triangle:"))
n3 = int(input("enter the third side of triangle:"))
if (n1==n2==n3):
  print("equilateral triangle")
elif ((n1==n2) or (n1==n3)or (n2==n3)) and (n1,n2,n3)!=(0,0,0):
  print("isosceles triangle")
else:
  print("scalene triangle")

In [ ]:
# WAP to calculate profit or loss input is selling cost and actual cost
s = int (input("enter selling cost :"))
a = int (input("enter actual cost :"))
if s>a:
  profit = (s-a)
  print("profit :",profit)
elif a>s:
  loss = (a-s)
  print("loss :",loss)
else:
  print("no profit no loss")

enter selling cost :20
enter actual cost :20
no profit no loss

In [ ]:
#15 WAP to input marks of 5 subjects physis,chemistry,biology,mathematics and computer.calculate the percentage and grade

a = int(input("enter the physics marks: "))
b = int(input("enter the chem marks: "))
c = int(input("enter the bio marks: "))
d = int(input("enter the maths marks: "))
e = int(input("enter the comp marks: "))
total = a+b+c+d+e
avg = total/5
percentage = (avg/500)*100
        if percentage >=90:
          print("grade A")
        elif percentage >=80:
          print("grade B")
        elif percentage >=70:
          print("grade C")
        elif percentage >=60:
          print("grade D")
        elif percentage >=40:
          print("grade E")
        else:
         print("grade F")

In [ ]:
#15 WAP to input marks of 5 subjects physis,chemistry,biology,mathematics and computer.calculate the percentage and grade

a = int(input("enter the physics marks: "))
b = int(input("enter the chem marks: "))
c = int(input("enter the bio marks: "))
d = int(input("enter the maths marks: "))
e = int(input("enter the comp marks: "))
total = a+b+c+d+e
percentage = (total/500)*100
if percentage >=90:
          print("grade A")
elif percentage >=80:
          print("grade B")
elif percentage >=70:
          print("grade C")
elif percentage >=60:
          print("grade D")
elif percentage >=40:
          print("grade E")
else:
         print("grade F")

enter the physics marks: 45
enter the chem marks: 85
enter the bio marks: 95
enter the maths marks: 75
enter the comp marks: 65
grade C

In [ ]:
#WAP to input basic python salery of an employee and calculate its gross salery according to following:
# gross salery = basic +allow + HRA +DA - PF
bs = int(input("enter basic salery :"))
if (bs<=10000):
  HRA = bs*0.2
  DA = bs*0.8
elif (bs<=20000):
  HRA = bs*0.3
  DA = bs*0.9
elif (bs>20000):
  HRA = bs*0.35
  DA = bs*0.95

  gs = bs +HRA +DA
  print("Gross salery Rs :", gs)
else:
  pass

enter basic salery :150000
Gross salery Rs : 345000.0