In [ ]:
#1. Write a Python program to print all natural numbers from 1 to n. - using while loop
n = int(input('Enter a number: '))
print("n natural numbers are....")
i = 1
while i <= n:
  print(i,end=" ")
  i += 1

Enter a number: 13
n natural numbers are....
1 2 3 4 5 6 7 8 9 10 11 12 13

In [ ]:
#2. Write a Python program to print all natural numbers in reverse (from n to 1 - using while loop)
n = int(input('Enter number:'))
print('Natural numbers in reverse....')
i = n
while i > 0:
  print(i)
  i -= 1

Enter number:10
Natural numbers in reverse....
10
9
8
7
6
5
4
3
2
1

In [ ]:
#3. Write a Python program to print all alphabets from a to z. - using while loop
start = ord('a')
end = start + 26
while start < end:
  print(chr(start))
  start += 1

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [ ]:
#4. Write a Python program to print all even numbers between 1 to 100. -using while loop
i = 1
for i in range(1,101):
  while i % 2 == 0:
    print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#5. Write a Python program to print all odd number between 1 to 100.

In [ ]:
i = 1
for i in range(1,100):
   while i % 2 != 0:
    print(i)
    i += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
#6. Write a Python program to find sum of all natural numbers between 1 to n.

n= int(input("Enter a number: "))
print("sum of all natural numbers....")
sum = 0
i = 1
while i <= n:
  sum = sum + i
  i += 1
print(sum)

Enter a number: 10
sum of all natural numbers....
55

In [ ]:
 #7. Write a Python program to find sum of all even numbers between 1 to n.
n= int(input("Enter a number: "))
print("sum of all even numbers....")
i = 2
sum = 0
while i % 2 == 0 and i <= n:
  sum = sum + i
  i += 2
print(sum)

Enter a number: 8
sum of all even numbers....
20

In [ ]:
#9. Write a Python program to find sum of all odd numbers between 1 to n.
n= int(input("Enter a number: "))
print("sum of all odd numbers....")
i = 1
sum = 0
while i % 2 != 0 and i <= n:
  sum = sum + i
  i += 2
print(sum)

Enter a number: 3
sum of all odd numbers....
4

In [ ]:
#10. Write a Python program to print multiplication table of any number. Take user input.
n = int(input("Enter a number: "))
i = 1
while i <= 10:
  print(n*i)
  i +=1

Enter a number: 2
2
4
6
8
10
12
14
16
18
20